interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.abiosgaming.com/v1/matches?starts_after=now&access_token=FAKE_ACCESS_TOKEN&sort=ASC
  response:
    body: {string: !!python/unicode '[{"id":45169,"title":"UB Quarterfinals","start":"2015-11-26T07:00:00+0000","end":"2015-11-26T10:00:00+0000","bestOf":3},{"id":45713,"title":"UB
        Semifinals","start":"2015-11-26T07:00:00+0000","end":"2015-11-26T10:00:00+0000","bestOf":3},{"id":45715,"title":"LB
        Final","start":"2015-11-26T08:00:00+0000","end":"2015-11-26T11:00:00+0000","bestOf":3},{"id":45175,"title":"Round
        1","start":"2015-11-26T10:00:00+0000","end":"2015-11-26T13:00:00+0000","bestOf":3},{"id":43626,"title":"Round
        Robin - Round 2","start":"2015-11-26T11:00:00+0000","end":"2015-11-26T17:00:00+0000","bestOf":15},{"i[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.abiosgaming.com/v1/matches/?access_token=FAKE_ACCESS_TOKEN&order=start&sort=ASC&starts_after=now&page=2&access_token=FAKE_ACCESS_TOKEN
  response:
    body: {string: !!python/unicode '[{"id":44858,"title":"Round of 6","start":"2015-11-26T13:00:00+0000","end":"2015-11-26T14:00:00+0000","bestOf":1},{"id":45178,"title":"Round
        1","start":"2015-11-26T13:00:00+0000","end":"2015-11-26T16:00:00+0000","bestOf":3},{"id":449[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.abiosgaming.com/v1/matches/?access_token=FAKE_ACCESS_TOKEN&order=start&sort=ASC&starts_after=now&page=4&access_token=FAKE_ACCESS_TOKEN
  response:
    body: {string: !!python/unicode '"this client cannot search beyond page 3"'}
    headers:
      content-type: [application/json]
    status: {code: 401, message: Unauthorized}
version: 1
