interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.abiosgaming.com/v1/matches?starts_before=now&sort=ASC&access_token=FAKE_ACCESS_TOKEN&ends_after=now
  response:
    body: {string: !!python/unicode '[{"id":42044,"title":"UB Finals","start":"2015-11-26T02:00:00+0000","end":"2015-11-26T05:00:00+0000","bestOf":3},{"id":42061,"title":"LB
        Final","start":"2015-11-26T02:00:00+0000","end":"2015-11-26T05:00:00+0000","bestOf":1},{"id":41377,"title":"S@X
        Melee 125 Top 12","start":"2015-11-26T02:15:00+0000","end":"2015-11-26T06:00:00+0000","bestOf":3},{"id":45648,"title":"America
        - Stage 1 Group A","start":"2015-11-26T03:50:00+0000","end":"2015-11-26T07:30:00+0000","bestOf":3},{"id":45844,"title":"Regional
        - Day 1","start":"2015-11-26T03:55:00+0000","end":"2015-11-26T06:10:00+0000","bestOf":1},{"id":45712,"title":"UB
        Semifinals","start":"2015-11-26T04:00:00+0000","end":"2015-11-26T07:00:00+0000","bestOf":3}]'}
    headers:
      content-type: [application/json]
      link: ['<http://api.abiosgaming.com/v1/matches/?access_token=FAKE_ACCESS_TOKEN&order=start&sort=ASC&ends_after=now&starts_before=now&page=1>;
          rel="first", <>; rel="prev", <>; rel="next", <http://api.abiosgaming.com/v1/matches/?access_token=FAKE_ACCESS_TOKEN&order=start&sort=ASC&ends_after=now&starts_before=now&page=1>;
          rel="last"']
    status: {code: 200, message: OK}
version: 1
