interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.abiosgaming.com/v1/competitors?sort=ASC&access_token=FAKE_ACCESS_TOKEN
  response:
    body: {string: !!python/unicode '[{"id":8959,"name":" EHOME.Luminous","country":{"name":"China","short_name":"CN","images":{"default":"https:\/\/img.abiosgaming.com\/flags\/China.png","thumbnail":"https:\/\/img.abiosgaming.com\/flags\/thumbnails\/China.png"}},"short_name":"EHOME.L","images":{"default":"https:\/\/img.abiosgaming.com\/competitors\/EHOME.png","thumbnail":"https:\/\/img.abiosgaming.com\/competitors\/thumbnails\/EHOME.png"},"race":null},{"id":9260,"name":"
        gamENERGY","country":{"name":"Poland","short_name":"PL","images":{"default":"https:\/\/img.abiosgaming.com\/flags\/Poland.png","thumbnail":"https:\/\/img.abiosgaming.com\/flags\/thumbnails\/Poland.png"}},"short_name":"gamE","images":{"default":"https:\/\/img.abiosgaming.com\/competitors\/unknown-5.png","thumbnail":"https:\/\/img.abiosgaming.com\/competitors\/thumbnails\/unknown-5.png"},"race":null},{"id":5901,"name":"
        Ps","country":{"name":"China","short[...]
