interactions:
- request:
    body: grant_type=client_credentials&client_id=vhVlOflCSOLjMyzAd5eGM7PScyfvIM6TptTCC7Y0&client_secret=IROG0RVhB2mkIwdvoCjHJ8IOks9lDKbFXB6IeDe0
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.abiosgaming.com/v1/oauth/access_token
  response:
    body: {string: !!python/unicode '{"access_token":"PUQ1XDHToBALSq2JyXjEeDY3Qb9eMH2gg6FuN1LD","token_type":"Bearer","expires_in":31556952}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.abiosgaming.com/v1/matches?starts_before=now&ends_after=now&sort=ASC&access_token=PUQ1XDHToBALSq2JyXjEeDY3Qb9eMH2gg6FuN1LD
  response:
    body: {string: !!python/unicode '[{"id":43504,"title":"SSS Smash 4 Singles Pools","start":"2015-11-15T23:00:21+0000","end":"2015-11-16T03:00:00+0000","bestOf":3},{"id":43535,"title":"SSS
        36 Melee Doubles Finals","start":"2015-11-15T23:50:03+0000","end":"2015-11-16T03:00:00+0000","bestOf":3}]'}
    headers:
      content-type: [application/json]
      link: ['<http://api.abiosgaming.com/v1/matches/?access_token=PUQ1XDHToBALSq2JyXjEeDY3Qb9eMH2gg6FuN1LD&order=start&sort=ASC&ends_after=now&starts_before=now&page=1>;
          rel="first", <>; rel="prev", <>; rel="next", <http://api.abiosgaming.com/v1/matches/?access_token=PUQ1XDHToBALSq2JyXjEeDY3Qb9eMH2gg6FuN1LD&order=start&sort=ASC&ends_after=now&starts_before=now&page=1>;
          rel="last"']
    status: {code: 200, message: OK}
version: 1
