interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.abiosgaming.com/v1/tournaments?access_token=FAKE_ACCESS_TOKEN
  response:
    body: {string: !!python/unicode '[{"id":777,"title":"Enthusiast Gaming Live Expo","start":"2016-04-29T00:00:00+0000","end":"2016-05-01T23:59:00+0000","city":"Toronto","short_title":"EGLX","url":"https:\/\/abiosgaming.com\/tournaments\/Smash\/Enthusiast-Gaming-Live-Expo","description":"The
        Enthusiast Gaming Live Expo is a follow-up of sorts to the first \"Enthusiast
        Gaming Live\" event of 2015. This time around, however, a number of major
        sponsors and backers have come together to make EGLX one of the biggest eSports
        events in North American history. A classic gaming convention at its'' core,
        the event will also feature 25+ separate eSports tournaments, with over $
        100,000 in total prize pools spread across them.For the Super Smash Bros.
        portion of the tournaments, Melee and Smash 4 Wii U will be the headlining
        games, featuring a total collective prize pool of $ 33,000. Both games will
        have a Singles (1v1) tournament with a $ 15,000 pot, and a Doubles (2v2) tournament
        with a $ 1,500 pot.With such massive prize pools and the building hype around
        the event, some of the largest names (Leffen, Hungrybox and Mew2King to name
        a few) in the Smash scene have already confirmed their upcoming attendance.","short_description":"EGLX
        is going to be one of the biggest eSports events in North American history.
        The Smash portion will feature a prize total of $ 33,000.","images":{"large":"https:\/\/img.abiosgaming.com\/events\/EGLX-Large-new.jpeg","default":"https:\/\/img.abiosgaming.com\/events\/EGLX-Small-new.png","thumbnail":"https:\/\/img.abiosgaming.com\/events\/thumbnails\/EGLX-Small-new.png"},"prizepool":{"total":"$
        33,000, $ 15,000","first":"$ 6,750","second":"$ 3,300","third":"$ 1,650"},"links":{"website":"http:\/\/eglx.ca\/","wiki":"http:\/\/wiki.teamliquid.net\/smash\/Enthusiast_Gaming_Live_Expo","youtube":"https:\/\/www.youtube.com\/watch?v=FqL_fIrcCd4"},"game":{"id":10,"title":"Smash","long_title":"Super
        Smash Bros.","images":{"square":"https:\/\/img.abiosgaming.com\/games\/ssb-smash-flat-icon-square.png","circle":"https:\/\/img.abiosgaming.com\/games\/round-ssb-smash-logo.png","rectangle":"https:\/\/img.abiosgaming.com\/games\/thin-flat-smash-logo-v2.png"}}},{"id":927,"title":"MLG
        Major Championship Columbus","start":"2016-03-29T00:00:00+0000","end":"2016-04-03T00:00:00+0000","city":"Columbus","short_title":"MLG
        Columbus","url":"https:\/\/abiosgaming.com\/tournaments\/CS%3AGO\/MLG-Major-Championship-Columbus","description":"MLG
        Major Championship Columbus&nbsp;tournament will feature the top eight teams
        from North America and Europe, who will be de[...]
