interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.abiosgaming.com/v1/matches?access_token=FAKE_ACCESS_TOKEN&sort=ASC&starts_after=now
  response:
    body: {string: !!python/unicode '[{"id":45169,"title":"UB Quarterfinals","start":"2015-11-26T07:00:00+0000","end":"2015-11-26T10:00:00+0000","bestOf":3},{"id":45713,"title":"UB
        Semifinals","start":"2015-11-26T07:00:00+0000","end":"2015-11-26T10:00:00+0000","bestOf":3},{"id":45715,"title":"LB
        Final","start":"2015-11-26T08:00:00+0000","end":"2015-11-26T11:00:00+0000","bestOf":3},{"id":45175,"title":"Round
        1","start":"2015-11-26T10:00:00+0000","end":"2015-11-26T13:00:00+0000","bestOf":3},{"id":43626,"title":"Round
        Robin - Round 2","start":"2015-11-26T11:00:00+0000","end":"2015-11-26T17:00:00+0000","bestOf":15},{"i[...]
