interactions:
- request:
    body: grant_type=client_credentials&client_id=vhVlOflCSOLjMyzAd5eGM7PScyfvIM6TptTCC7Y0&client_secret=IROG0RVhB2mkIwdvoCjHJ8IOks9lDKbFXB6IeDe0
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.abiosgaming.com/v1/oauth/access_token
  response:
    body: {string: !!python/unicode '{"access_token":"O1ER2s887M0sYa5zOf8f5TuLd4s60OYQThi5rFmh","token_type":"Bearer","expires_in":31556952}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.abiosgaming.com/v1/tournaments?access_token=O1ER2s887M0sYa5zOf8f5TuLd4s60OYQThi5rFmh
  response:
    body: {string: !!python/unicode '[{"id":777,"title":"Enthusiast Gaming Live Expo","start":"2016-04-29T00:00:00+0000","end":"2016-05-01T23:59:00+0000","city":"Toronto","short_title":"EGLX","url":"https:\/\/abiosgaming.com\/tournaments\/Smash\/Enthusiast-Gaming-Live-Expo","description":"The
        Enthusiast Gaming Live Expo is a follow-up of sorts to the first \"Enthusiast
        Gaming Live\" event of 2015. This time around, however, a number of major
        sponsors and backers have come together to make EGLX one of the biggest eSports
        events in North American history. A classic gaming convention at its'' core,
        the event will also feature 25+ separate eSports tournaments, with over $
        100,000 in total prize pools spread across them.For the Super Smash Bros.
        portion of the tournaments, Melee and Smash 4 Wii U will be the headlining
        games, featuring a total collective prize pool of $ 33,000. Both games will
        have a Singles (1v1) tournament with a $ 15,000 pot, and a Doubles (2v2) tournament
        with a $ 1,500 pot.With such massive prize pools and the building hype around
        the event, some of the largest names (Leffen, Hungrybox and Mew2King to name
        a few) in the Smash scene have already confirmed their upcoming attendance.","short_description":"EGLX
        is going to be one of the biggest eSports events in North American history.
        The Smash portion will feature a prize total of $ 33,000.","images":{"large":"https:\/\/img.abiosgaming.com\/events\/EGLX-Large-new.jpeg","default":"https:\/\/img.abiosgaming.com\/events\/EGLX-Small-new.png","thumbnail":"https:\/\/img.abiosgaming.com\/events\/thumbnails\/EGLX-Small-new.png"},"prizepool":{"total":"$
        33,000, $ 15,000","first":"$ 6,750","second":"$ 3,300","third":"$ 1,650"},"links":{"website":"http:\/\/eglx.ca\/","wiki":"http:\/\/wiki.teamliquid.net\/smash\/Enthusiast_Gaming_Live_Expo","youtube":"https:\/\/www.youtube.com\/watch?v=FqL_fIrcCd4"},"game":{"id":10,"title":"Smash","long_title":"Super
        Smash Bros.","images":{"square":"https:\/\/img.abiosgaming.com\/games\/ssb-smash-flat-icon-square.png","circle":"https:\/\/img.abiosgaming.com\/games\/round-ssb-smash-logo.png","rectangle":"https:\/\/img.abiosgaming.com\/games\/thin-flat-smash-logo-v2.png"}}},{"id":836,"title":"BEAST
        6","start":"2016-02-19T00:00:00+0000","end":"2016-02-21T23:59:00+0000","city":"Gothenburg","short_title":"B6","url":"https:\/\/abiosgaming.com\/tournaments\/Smash\/BEAST-6","description":"As
        one of Europe''s Premier Super Smash Bros. Tournament series, Beast returns
        for a 6th iteration. Having evolved into the much more organized Beast Tournament
        Series, an amazing Smas[...]
