interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.abiosgaming.com/v1/games?order=id&access_token=FAKE_ACCESS_TOKEN&sort=ASC
  response:
    body: {string: !!python/unicode '[{"id":1,"title":"Dota 2","long_title":"Defense
        of Duty","images":{"square":"https:\/\/img.abiosgaming.com\/games\/square-flat-call-of-duty-logo.png","circle":"https:\/\/img.abiosgaming.com\/games\/flat-round-call-of-duty-logo.png","rectangle":"https:\/\/img.abiosgaming.com\/games\/thin-flat-cod-logo-v2.png"}}]'}
    headers:
      content-type: [application/json]
      link: ['<http://api.abiosgaming.com/v1/games/?access_token=FAKE_ACCESS_TOKEN&order=id&sort=ASC&page=1>;
          rel="first", <>; rel="prev", <>; rel="next", <http://api.abiosgaming.com/v1/games/?access_token=FAKE_ACCESS_TOKEN&order=id&sort=ASC&page=1>;
          rel="last"']
    status: {code: 500, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.abiosgaming.com/v1/games?order=id&access_token=FAKE_ACCESS_TOKEN&sort=ASC
  response:
    body: {string: !!python/unicode '[{"id":1,"title":"Dota 2","long_title":"Defense
        of Duty","images":{"square":"https:\/\/img.abiosgaming.com\/games\/square-flat-call-of-duty-logo.png","circle":"https:\/\/img.abiosgaming.com\/games\/flat-round-call-of-duty-logo.png","rectangle":"https:\/\/img.abiosgaming.com\/games\/thin-flat-cod-logo-v2.png"}}]'}
    headers:
      content-type: [application/json]
      link: ['<http://api.abiosgaming.com/v1/games/?access_token=FAKE_ACCESS_TOKEN&order=id&sort=ASC&page=1>;
          rel="first", <>; rel="prev", <>; rel="next", <http://api.abiosgaming.com/v1/games/?access_token=FAKE_ACCESS_TOKEN&order=id&sort=ASC&page=1>;
          rel="last"']
    status: {code: 500, message: OK}
version: 1
