interactions:
- request:
    body: grant_type=client_credentials&client_id=vhVlOflCSOLjMyzAd5eGM7PScyfvIM6TptTCC7Y0&client_secret=IROG0RVhB2mkIwdvoCjHJ8IOks9lDKbFXB6IeDe0
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.abiosgaming.com/v1/oauth/access_token
  response:
    body: {string: !!python/unicode '{"access_token":"6ABvxsBNFLwVIwL0juagdtOHGkpI3DA9Gb24KYxf","token_type":"Bearer","expires_in":31556952}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.abiosgaming.com/v1/matches?starts_after=now&sort=ASC&access_token=6ABvxsBNFLwVIwL0juagdtOHGkpI3DA9Gb24KYxf
  response:
    body: {string: !!python/unicode '[{"id":43530,"title":"UB Semifinals","start":"2015-11-16T03:00:00+0000","end":"2015-11-16T04:00:00+0000","bestOf":3},{"id":43008,"title":"CN
        Qualifier - Group C","start":"2015-11-16T05:00:00+0000","end":"2015-11-16T08:00:00+0000","bestOf":2},{"id":43321,"title":"UB
        Quarterfinal","start":"2015-11-16T06:00:00+0000","end":"2015-11-16T08:00:00+0000","bestOf":3},{"id":43014,"title":"CN
        Qualifier - Group D","start":"2015-11-16T07:00:00+0000","end":"2015-11-16T09:00:00+0000","bestOf":2},{"id":43497,"title":"Group
        A","start":"2015-11-16T07:00:00+0000","end":"2015-11-16T10:00:00+0000"[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.abiosgaming.com/v1/matches/?access_token=6ABvxsBNFLwVIwL0juagdtOHGkpI3DA9Gb24KYxf&order=start&sort=ASC&starts_after=now&page=2&access_token=6ABvxsBNFLwVIwL0juagdtOHGkpI3DA9Gb24KYxf
  response:
    body: {string: !!python/unicode '[{"id":42146,"title":"Round 1","start":"2015-11-16T16:30:00+0000","end":"2015-11-16T17:30:00+0000","bestOf":1},{"id":38939,"title":"Stage
        1 Group A","start":"2015-11-16T17:00:00+0000","en[...]
[...]
