interactions:
- request:
    body: client_secret=IROG0RVhB2mkIwdvoCjHJ8IOks9lDKbFXB6IeDe0&client_id=vhVlOflCSOLjMyzAd5eGM7PScyfvIM6TptTCC7Y0&grant_type=client_credentials
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.abiosgaming.com/v1/oauth/access_token
  response:
    body: {string: !!python/unicode '{"access_token":"kIEZb1IQx5Krb7vM3qgGEF8DKtTUf3p9NAXLohhk","token_type":"Bearer","expires_in":31556952}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.abiosgaming.com/v1/matches?access_token=kIEZb1IQx5Krb7vM3qgGEF8DKtTUf3p9NAXLohhk&starts_after=now&sort=ASC
  response:
    body: {string: !!python/unicode '[{"id":43530,"title":"UB Semifinals","start":"2015-11-16T03:00:00+0000","end":"2015-11-16T04:00:00+0000","bestOf":3},{"id":43008,"title":"CN
        Qualifier - Group C","start":"2015-11-16T05:00:00+0000","end":"2015-11-16T08:00:00+0000","bestOf":2},{"id":43321,"title":"UB
        Quarterfinal","start":"2015-11-16T06:00:00+0000","end":"2015-11-16T08:00:00+0000","bestOf":3},{"id":43014,"title":"CN
        Qualifier - Group D","start":"2015-11-16T07:00:00+0000","end":"2015-11-16T09:00:00+0000","bestOf":2},{"id":43497,"title":"Group
        A","start":"2015-11-16T07:00:00+0000","end":"2015-11-16T10:00:00+0000"[...]
