interactions:
- request:
    body: grant_type=client_credentials&client_id=vhVlOflCSOLjMyzAd5eGM7PScyfvIM6TptTCC7Y0&client_secret=IROG0RVhB2mkIwdvoCjHJ8IOks9lDKbFXB6IeDe0
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://api.abiosgaming.com/v1/oauth/access_token
  response:
    body: {string: !!python/unicode '{"access_token":"yMn7Nz2nCh8eaqcMm8YMKbqNx1XUQBjp2k8oOX62","token_type":"Bearer","expires_in":31556952}'}
    headers:
      content-type: [application/json]
    status: {code: 500, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.abiosgaming.com/v1/games?access_token=yMn7Nz2nCh8eaqcMm8YMKbqNx1XUQBjp2k8oOX62&order=id&sort=ASC
  response:
    body: {string: !!python/unicode '[{"id":1,"title":"Dota 2","long_title":"Defense
        of the Ancients 2","images":{"square":"https:\/\/img.abiosgaming.com\/games\/dota-flat-game-icon.png","circle":"https:\/\/img.abiosgaming.com\/games\/round-dota-logo.png","rectangle":"https:\/\/img.abiosgaming.com\/games\/flat-rectangular-Dota-logo.jpg"}},{"id":2,"title":"LoL","long_title":"League
        of Legends","images":{"square":"https:\/\/img.abiosgaming.com\/games\/LoL-flat-game-icon.png","circle":"https:\/\/img.abiosgaming.com\/games\/round-lol-logo.png","rectangle":"https:\/\/img.abiosgaming.com\/games\/flat-rectangular-lol-logo.jpg"}},{"id":3,"title":"SCII","long_title":"StarCraft
        II","images":{"square":"https:\/\/img.abiosgaming.com\/games\/SCII-flat-gam[...]
